<div class="container" ng-controller="HomeController" >
    <div class="row">
        <div class="col-md-3">
            <a href="/#/checkups/new" class="btn btn-success green"> Iniciar Nuevo Chequeo</a>
        </div>
        <div class="col-md-3">
            <label for="subject">Tema</label>
            <select ng-model="selected_category" ng-options="category.description for category in categories"></select>
        </div>
        <div class="col-md-3">
            <label for="subject">Etapa</label>
            <select ng-model="selected_phase" ng-options="phase.title for phase in phases"></select>
        </div>


    </div>
    <div class="row">
      <ul class="thumbnails list-unstyled">
        <li class="col-md-3" ng-repeat="checkup in checkups">
        <a href="/#/checkups/{{checkup.id}}/view">
          <div class="thumbnail" style="padding: 0">
            <!--div style="padding:4px">
            </div-->
            <div class="caption">
              <h2>{{checkup.id}}</h2>
              <p>{{checkup.quote.text}}</p>
              <p><i class="icon icon-map-marker"></i> {{checkup.status}}</p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"><b>60%</b><br/><small>{{checkup.phase}}</small></div>
              </div>
            </div>
          </div>
        </a>
        </li>
      </ul>
    </div>
</div>
