<div ng-controller="HomeController" >
            
            <div class="status-bar row">
                <div class="col-md-9 status-action">
                    <a ng-href="#/checkup/new" ng-show="user_id">
                        Iniciar un Chequeo 
                        <i class="glyphicon glyphicon-play-circle"></i>
                    </a>
                </div>
                <div class="col-md-3 text-left help-action">
                    <span id="help-action"> Ayuda </span>
                </div>
            </div>


            <div class="container">
                <div class="main-content">

                    <div class="col-sm-12">
                        <div ui-view></div>
                    </div>
                    
                    <div id="sidebar-wrapper" class="col-sm-3 collapse navbar-collapse"" ng-show="showHelp">
                        <div class="sidebar-module sidebar-module-inset">
                            <p>
                                El Chequeador es una herramienta participativa para realizar chequeos en forma colectiva desde cualquier plataforma gestionada de forma colectiva
                            </p>
                        </div>
                    </div>

                </div>

            </div>





</div>

<!--div>

    <div class="row">
        <div class="col-md-4">
            <a href="/#/checkups/new" class="btn btn-success green" > Iniciar Nuevo Chequeo</a>
            <span class="btn btn-success green" ng-click="changeState()" > test2</span>
        </div>
        <div class="col-md-2">
            <label for="subject">Tema</label>
            <select ng-model="selected_category" ng-options="category.description for category in categories"></select>
        </div>
        <div class="col-md-2">
            <label for="subject">Etapa</label>
            <select ng-model="selected_phase" ng-options="phase.title for phase in phases"></select>
        </div>


    </div>
    <div ui-view></div>
    <div class="row">
      <ul class="thumbnails list-unstyled">
        <li class="col-md-3" ng-repeat="checkup in checkups">
        <a href="/#/checkups/{{checkup.id}}/view">
          <div class="thumbnail" style="padding: 0">
            
            <div class="caption">
              <h2>{{checkup.id}}</h2>
              <p>{{checkup.quote.text}}</p>
              <p><i class="icon icon-map-marker"></i> {{checkup.status}}</p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"><b>60%</b><br/><small>{{checkup.phase}}</small></div>
              </div>
            </div>
          </div>
        </a>
        </li>
      </ul>
    </div>
</div-->
