
<div class="container" ng-controller="SourceCreateController" >
    <div class="row">
        <div class="col-md-4">
            <h4>{{sourceTypeObject().method_order}} - Consultar fuente {{sourceTypeObject().description}}</h4>
        </div>
        <div class="col-md-8">
            <h3>{{checkup.quote.text}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">

                <form  ng-submit="addSource()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="entity_name"> Contacto  </label>
                            <input type="text" class="form-control" ng-model="entity.name" id="entity_name" placeholder="Nombre del Contacto?" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="entity_description"> Descripción Contacto </label>
                            <input type="text" class="form-control" ng-model="entity.description" id="entity_description" placeholder="Por que es relevante?" required="required" />
                        </div>


                   </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <textarea name="what" id="what" ng-model="source.what" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Qué te dijo?"></textarea>
                        </div>
 


                        <div class="form-group">
                            <label for="name"> Dato Chequeado </label>
                            <input type="text" ng-model="source.checked" class="form-control" id="name" placeholder="Quién es el autor de la frase?" required="required" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Publicar
                            </button>
                        </div>
 

                    </div>
 
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placekitten.com/150/150">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Receta 1</h4>
                    <p class="text-right">By Francisco</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan
                        Aliquam in felis sit amet augue.
                    </p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                        <li>|</li>
                        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                        <li>|</li>
                        <li>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </li>
                        <li>|</li>
                        <li>
                            <span><i class="fa fa-facebook-square"></i></span>
                            <span><i class="fa fa-twitter-square"></i></span>
                            <span><i class="fa fa-google-plus-square"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>














    <div class="row">
        <div class="col-md-12">
            <form>
            <legend><span class="glyphicon glyphicon-bullhorn"></span> Fuente</legend>
            <address>
                Seleccionada la afirmación, se consulta a quien la dijo para conocer la fuente original del dato utilizado. Si se accede a ella en forma directa, se consulta a otras fuentes para corroborar su validez y explicar su relevancia e impacto. De no resultar ello posible, el chequeo se hace por vías alternativas: documentos (informes, análisis o recopilaciones estadísticas, públicas y privadas) y entrevistas a especialistas. En caso de que alguno mantenga una filiación partidaria conocida ella es mencionada. 
            </address>
            </form>
        </div>
    </div>
</div>

