
<div class="container" ng-controller="SourceListController" >
    <div class="row">
    
        <div class="timeline-centered" ng-repeat="source in sources">

            <article class="timeline-entry">

                <div class="timeline-entry-inner">

                    <div class="timeline-icon bg-{{sourceTypeObject(source.sourceType.code).class}}">
                        <i class="entypo-feather">{{source.sourceType.code}}</i>
                    </div>

                    <div class="timeline-label">
                        <h2><a href="#/checkups/{{source.checkup_id}}/sources/{{source.id}}/view">{{source.entity.name}}</a> <span>por {{source.created_by}}</span></h2>
                        <p>{{source.what}}</p>
                    </div>
                </div>

            </article>

        </div>
    
    </div>
</div>
