/* app css stylesheet */

#main_container {

    min-height: 400px;
}

.header {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.header > .session-bar {

} 

.header > .session-bar > login {
  display: inline;
} 

.social-menu {
  list-style: none;
  padding: 0 0 0.5em;
}

.social-menu > li {
  display: inline;
}

.social-menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.social-menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.header > .status-bar {
    color: #FFF;
    background-color: #ff0000;
} 

