/* app css stylesheet */

body {
    font-family: font-family: 'Droid Sans', sans-serif !important;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


.session-bar {
    padding: 10px 15px 0 15px;
}

.session-bar a {
    color: #000;
}

.brand {
    font-size: 24px;
}

.login{
    font-size: 15px;
}

.login-name {
    font-size: 15px;
    color: #ff0000;
}

.login-picture {
    heigth: 30px;
    width: 30px;
}

.status-bar {
    color: #FFF;
    background-color: #ff0000;
    font-size: 15px; 
    height: 65px;
    padding: 25px 15px 0 15px;
} 

.status-bar .status-action {
    text-transform: uppercase;
}

.status-bar a {
    color: #FFF;
}

.status-bar .b-container {
    height: 15px; 
    line-height: 21.5px; 
}

.status-bar .breadcrumb {
    color: #FFF;
    background-color: #ff0000;
    font-size: 15px; 
    height: 15px; 
}

#main_container {
    min-height: 400px;
}

.header {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header > .session-bar > login {
  display: inline;
} 

.social-menu {
  list-style: none;
  padding: 0 0 0.5em;
}

.social-menu > li {
  display: inline;
}

.social-menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.social-menu > li:nth-child(1) {
    font-weight: bold;
    padding-right: 5px;
}

.social-menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.social-menu > li:nth-child(2):before {
  content: "";
  padding: 0;
}

.footer {
    font-size: 12px;
    text-transform: uppercase;
}

.footer-brand {
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
}

.checkup-body {
    font-size: 15px; 
    height: 65px;
    padding: 25px 15px 0 15px;
}

.quote-text {
    color: #000;
    font-size: 20px;
}

.quote-text p {
    padding-left: 15px;
}


.quote-text a:hover, .quote-text a:visited, .quote-text a:link, .quote-text a:active {
    text-decoration: none;
}

.process-view {
    padding-top: 30px;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 18px;
}

.process-view small {
    font-size: 12px;
}

:disabled {
    cursor: none !important;
}

.process-view .step-call, #help-action {
    cursor: pointer;
}

.process-view small:hover {
    color: #ff0000;
    cursor: pointer;
}

h5, .call-atention {
    color: #ff0000;
    text-transform: uppercase;
}

.collap {
    display:none !important;
}

.voteBox.success > .voteCount {
    color: #00ff00;
}

.voteBox.danger > .voteCount {
    color: #ff1f1f;
}

.voteBox.voted-up > .icon-up {
    color: #00ff00;
}

.voteBox.voted-up, .voteBox.voted-down {
    cursor: default !important;
}

.icon-up, .icon-down {
    cursor: pointer;
}

.voteBox.voted-up > .icon-up {
    color: #00ff00;
}

.voteBox.voted-down > .icon-down {
    color: #ff1f1f;
}

.checkup-item {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    padding-bottom: 10px;
}

.checkup-status {
    width: 8px;
    height: 40px;
    position: absolute;
    margin-left: -10px;
}

.checkup-status.CREATION {
  background: url(/static/img/creation.png);
}
.checkup-status.SOURCES {
  background: url(/static/img/sources.png);
}
.checkup-status.CONTEXT {
  background: url(/static/img/context.png);
}
.checkup-status.QUALIFICATION {
  background: url(/static/img/calification.png);
}

.collabola > img {
    display: inline;
}

.checkup-item-view {

}

.checkup-item-view .checkup-item-header {
    color: #ff0000;
}

.checkup-item-view blockquote {
    border: 0px;
    padding-left: 0px;
}

.checkup-item-view blockquote footer {
    border: 0px;
    padding-left: 0px;
    display: block-inline;
}

.step-centered .step-entry .step-entry-inner .step-label p.text-quote {
    font-size: 24px;
    font-weight: bold;
    display: block-inline;
}

.step-centered .step-entry .step-entry-inner .step-label p.text-context {
    font-size: 14px;
    font-weight: bold;
    display: block-inline;
}

.checkup-item-view h2 {
    font-size: 16px;
    font-weight: bold;
}

.checkup-item-view .text-source {
    font-size: 12px;
    color: #000;
    padding-bottom: 5px;
}

.checkup-item-view .red {
    color: red;
}

.checkup-item-view .ok {
    color: green;
}

.qualification-step {

}


.qualification-step .qualify-item {
    border-color: #dbdbdb;
    border-color: #ccc;
    font-size: 10px; 
	padding: 1px;
    text-transform: uppercase; 
}

.qualification-step .score-item {
    border: 0px;
    font-size: 10px; 
	padding: 1px;
    text-transform: uppercase; 
}

.qualification-step .qualify-item.selected {
    background: black;
    color: #FFF;
}

.row.annotation {
    text-transform: uppercase;
}

.qualification-step .score-item.selected {
    color: green;
}

.status-green {
    color: green;
}

.califications-amount {
    font-size: 10px;
}

.califications-amount .progress {
    height: 5px;
}

.califications-amount .progress-bar {
    background-image: linear-gradient(to bottom, #000 0px, #000 100%);
    background-repeat: repeat-x;
}


.btn-source-types label {
    border-color: #dbdbdb;
    border-color: #ccc;
    text-transform: uppercase; 
}

.btn-source-types label {
    border: 0px;
    text-transform: uppercase; 
}

.btn-source-types label.active {
    background: black;
    color: #FFF;
}



.qualification-col {
}


.qualify-item-preview  .score-label {
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
}

.qualify-item-preview.voted .score-label {
    color: #000;
}


.bg-black , .bg-green, .bg-green:hover, .bg-black:hover {
    color: #FFF;
    text-transform:  uppercase
}

.bg-black , .bg-green {
    background-color: #000;
}


.bg-green {
    background-color: green;
}

#main-content {
    border-right-style: solid;
    border-right-color: #ff0000;
    border-right-width: 0.5px;
}


.help-action {
    border-left-style: solid;
    border-left-color: #fff;
    border-left-width: 0.5px;
}

.dropdown > .btn {
    background: none !important;
    font-size: 15px;
    color: #ff0000;
}

.dropdown > .btn:hover {
    background: none !important;
    font-size: 15px;
    color: #ff0000;
}


.dropdown .dropdown-menu li a{
    font-size: 15px;
    color: #ff0000 !important;
}
