<div class="login">
      
    <div class="status-bar row">
        <div class="col-md-12 status-action">
               Ingresar 
        </div>
    </div>

    <div class="row form-signin text-center" >

        <h4>Para continuar puedes ingresar con tu red social favorita</h4>
        
        <p>
            <a href="/auth/facebook?url=/#/{{back_url}}">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="/auth/twitter?url=/#/{{back_url}}">
                <span style="colort: #000" class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </p>

        <small class="text-muted">O entrar de forma tradicional</small>
        <br/><br/>
        
        <input class="form-control login-input" placeholder="Correo" type="text"/>
        <input class="form-control login-input-pass" placeholder="Clave" type="password"/>

        <button class="btn btn-lg btn-block btn-center" type="submit">Entrar</button>
        <br/>
        <small class="create-account text-muted">No tiene cuenta? <button class="btn btn-sm"> Registarse </button> </small>
    </div>
</div>
