<div class="row">
    <div class="col-md-2">
        <img src="{{profile.picture}}" alt="{{profile.name}}" class="profile-picture img-circle"/>
    </div>
    <div class="col-md-10">

        <div class="row profile-info">
            <header>Perfil</header>
            <h2>{{profile.name}}</h2>
            <p class="lead"></p>
        </div>
        <dl class="dl-horizontal profile-statistics">
            <dt>Colaboraciones en chequeos</dt>
            <dd>0</dd>
            <dt>Valoraciones</dt>
            <dd>0</dd>
        </dl>
        <div class="row">
            <button class="btn" ng-click="">
                   Seguir
            </button>
        </div>


    </div>

</div>
